{% extends 'base.html' %}

{% block content %}
    <h1>Your tierlists</h1>
    <br>
    <hr>
    {% for tierlist in tierlists %}
        <h3>{{ tierlist.name }}</h3>
        <h4>{{ tierlist.tags }}</h4>
        <h5>{{ tierlist.description }}</h5>
        <a href="{% url 'users:tierlist-single' tierlist.owner tierlist.name %}"><img src="{{ tierlist.cover_image }}" alt="Tierlist Image" class="object-cover inline-block " style="width: 150px; height: 150px;"></a>
        <br>
        {% if tierlist.owner.is_authenticated and tierlist.owner == tierlist.current_user %}
            <a href="{% url 'users:edit-tierlist-profile' tierlist.owner tierlist.id %}">Edit</a>
            <a href="{% url 'users:delete-tierlist-profile' tierlist.owner tierlist.id %}">Delete</a>
        {% endif %}
        <br>
        <br>
        <hr>
    {% endfor %}
{% endblock content %}