{% extends 'base.html' %}


{% block content %}
    <h1>Tierlist Created</h1>
    <hr>
    {% for tierlist in tierlists %}
        <h3>{{ tierlist.name }}</h3>
        <h4>{{ tierlist.tags }}</h4>
        <a href="{% url 'rates_lobby:tierlist-single' tierlist.name %}"><img src="{{ tierlist.cover_image }}" alt="Tierlist Image" class="object-cover inline-block " style="width: 150px; height: 150px;"></a>
        <br>
        <br>
        <a href="{% url 'users:profile' tierlist.owner %}"><h5>owner: {{ tierlist.owner }}</h5></a>
        {% if request.user.is_authenticated and request.user == tierlist.owner %}
            <a href="{% url 'rating_templates:edit-tierlist' tierlist.id %}">Edit</a>
            <a href="{% url 'rating_templates:delete-tierlist' tierlist.id %}">Delete</a>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}
